{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "IE 11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-export-default-from",
    "@babel/plugin-syntax-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx"
  ]
}
